html {
    background-color: rgb(161, 143, 111);

    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0px;
}

.midpage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}




.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 75vh;
    grid-template-areas: 
        "col1 col2 col3 col4 col5";
    width: 100%;
    height: 80vh;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 30px;
    padding-top: 40px;
    background-color: white;
    
}

/* .grid-item {
    height: 100%;
    border-top: 5px solid black;
} */

#col1 {
    grid-area: col1;
    background-color: rgb(230, 224, 220);
}

#col2 {
    grid-area: col2;
    background-color: rgb(201, 193, 186);
}

#col3 {
    grid-area: col3;
    background-color: rgb(230, 224, 220);
}

#col4 {
    grid-area: col4;
    background-color: rgb(201, 193, 186);
}

#col5 {
    grid-area: col5;
    background-color: rgb(230, 224, 220);
}

.title1 {
    background-color: rgb(109, 144, 156);
    padding: 10px;
    box-sizing: border-box;
    
    width: 100%;
    text-align: center;
}

.title2 {
    background-color: rgb(98, 127, 133);
    padding: 10px;
    box-sizing: border-box;
    
    width: 100%;
    text-align: center;
}

.title3 {
    background-color: rgb(109, 144, 156);
    padding: 10px;
    box-sizing: border-box;
    
    width: 100%;
    text-align: center;
}

.title4 {
    background-color: rgb(98, 127, 133);
    padding: 10px;
    box-sizing: border-box;
    
    width: 100%;
    text-align: center;
}

.title5 {
    background-color: rgb(109, 144, 156);
    padding: 10px;
    box-sizing: border-box;
    
    width: 100%;
    text-align: center;
}

.title1-lower {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    
    width: 100%;
    text-align: center;
}
.title2-lower {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    
    width: 100%;
    text-align: center;
}

.title3-lower {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    
    width: 100%;
    text-align: center;
}

.title4-lower {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    
    width: 100%;
    text-align: center;
}

.title5-lower {
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}